<!--
<!-- DEFINE $FACEBOOK = 'yes' --> Options: YES | NO
<!-- DEFINE $YOUTUBE = 'yes' --> Options: YES | NO
<!-- DEFINE $TWITTER = 'yes' --> Options: YES | NO
<!-- DEFINE $TWITCH = 'yes' --> Options: YES | NO
<!-- DEFINE $SNAPCHAT = 'yes' --> Options: YES | NO
<!-- DEFINE $REDDIT = 'yes' --> Options: YES | NO
<!-- DEFINE $INSTAGRAM = 'yes' --> Options: YES | NO
--> 

	
		<div id="social_buttons">             
                  <!-- IF $FACEBOOK == 'yes'-->
				  <a target="_blank" href="https://www.facebook.com"><span class="icon fa-facebook social-icon" title="FACEBOOK"></span></a>
				  <!-- ENDIF -->
				  <!-- IF $YOUTUBE == 'yes'-->
				   <a target="_blank" href="https://www.youtube.com"><span class="icon fa-youtube social-icon" title="YOUTUBE"></span></a>
				   <!-- ENDIF -->
				   <!-- IF $TWITTER  == 'yes'-->
				    <a target="_blank" href="https://www.twitter.com"><span class="icon fa-twitter social-icon" title="TWITTER"></span></a>
					<!-- ENDIF -->
					<!-- IF $TWITCH  == 'yes'-->
				    <a target="_blank" href="https://www.twitch.com"><span class="icon fa-twitch social-icon" title="TWITCH"></span></a>
					<!-- ENDIF -->
					<!-- IF $SNAPCHAT  == 'yes'-->
				    <a target="_blank" href="https://www.snapchat.com"><span class="icon fa-snapchat-ghost social-icon" title="SNAPCHAT"></span></a>
					<!-- ENDIF -->
					<!-- IF $REDDIT  == 'yes'-->
				    <a target="_blank" href="https://www.reddit.com"><span class="icon fa-reddit-alien social-icon" title="REDDIT"></span></a>
					<!-- ENDIF -->
					<!-- IF $INSTAGRAM  == 'yes'-->
				    <a target="_blank" href="https://www.instagram.com"><span class="icon fa-instagram social-icon" title="INSTAGRAM"></span></a>
					<!-- ENDIF -->
          
		  </div>