<!-- Send the variables to the js file -->
<script>
	var backgroundImage		= '{{ SITE_LOGO_BACKGROUND | escape('js') }}';
	var bannerHeight		= '{{ BANNER_HEIGHT | escape('js') }}';
	var borderRadius		= '{{ BORDER_RADIUS | escape('js') }}';
	var headerColour		= '{{ HEADER_COLOUR | escape('js') }}';
	var headerColour1		= '{{ HEADER_COLOUR_1 | escape('js') }}';
	var headerColour2		= '{{ HEADER_COLOUR_2 | escape('js') }}';
	var logoCorners 		= '{{ LOGO_CORNERS | escape('js') }}';
	var logoHeight 			= '{{ LOGO_HEIGHT | escape('js') }}';
	var logoWidth 			= '{{ LOGO_WIDTH | escape('js') }}';
	var overrideColour		= '{{ OVERRIDE_COLOUR | escape('js') }}';
	var removeHeaderBar		= '{{ REMOVE_HEADER_BAR | escape('js') }}';
	var repeatBackground	= '{{ REPEAT_BACKGROUND | escape('js') }}';
	var responsive			= '{{ SITE_LOGO_RESPONSIVE | escape('js') }}';
	var searchBelow			= '{{ SEARCH_BELOW | escape('js') }}';
	var siteLogo 			= '{{ SITE_LOGO_IMG_NEW | escape('js') }}';
	var siteLogoUrl			= '{{ SITE_LOGO_LOGO_URL | escape('js') }}';
	var siteLogoBanner		= '{{ SITE_LOGO_BANNER | escape('js') }}';
	var siteLogoCentre		= '{{ SITE_LOGO_CENTRE | escape('js') }}';
	var siteLogoRemove		= '{{ SITE_LOGO_REMOVE | escape('js') }}';
	var siteLogoRight		= '{{ SITE_LOGO_RIGHT | escape('js') }}';
	var siteNameSupress		= '{{ SITENAME_SUPRESS | escape('js') }}';
	var useBackground		= '{{ USE_BACKGROUND | escape('js') }}';
	var useBanner			= '{{ USE_BANNER | escape('js') }}';
	var useHeaderColour		= '{{ USE_HEADER_COLOUR | escape('js') }}';
	var useLogoUrl			= '{{ USE_LOGO_URL | escape('js') }}';
	var useOverrideColour	= '{{ USE_OVERRIDE_COLOUR | escape('js') }}';
</script>

{% INCLUDEJS '@david63_sitelogo/site_logo_min.js' %}
