/*
--------------------------------------------------------------
Colours and backgrounds for common.css
-------------------------------------------------------------- */

html, body {
	color: #d0ddea;
	background-color: #151E25;
	background-image: url("./images/background-body3.jpg");
	background-repeat: no-repeat;
	background-position: left top;
}

h1 {
	color: #FFFFFF;
	font-size: 3.2em;
}

h2 {
	color: #28313F;
}

h3 {
	border-bottom-color: #424e59;
	color: #115098;
}

hr {
	border-color: #586675;
	border-top-color: #2b3238;
}

h2.forum-title, h2.topic-title, h2.solo, h2.titlespace, h2.posting-title, h2.ucp-title, h2.faq-title, h2.mcp-header, h2.memberlist-title, h2.searchresults-title, h2.viewonline-title, p.bg_legend, .bg_whois {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 15px 0 15px 5px;
}

h2.ucp-title, h2.faq-title, h2.mcp-header, h2.titlespace, h2.solo, h2.memberlist-title, h2.searchresults-title, h2.viewonline-title, .bg_whois {
	color: #C8DDED;
}

.jump-post {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 15px 0 15px 5px;
}

h2.viewonline-title {
	margin: 0;
}

p.bg_legend {
    margin-bottom: 5px;
}

.online-list h3, .permissions h3, .birthday-list h3, .statistics h3 {
	background-color: #1C2329;
	color: #C8DDED;
	padding: 15px 0 15px 5px;
	margin: 0;
}

.stat-block {
	-webkit-box-shadow: 0px 0px 2px 1px rgb(95, 115, 134);
	-moz-box-shadow: 0px 0px 2px 1px rgb(95, 115, 134);
	box-shadow: 0px 0px 2px 1px rgb(95, 115, 134);
}

h3.review {
	background-color: #222930;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	color: #FFFFFF;
	padding: 15px 5px 15px 5px;
}

p.bg_atop {
    background-color: #222930;
    -webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
    color: #FFFFFF;
    padding: 15px 0px 15px 0px;
    margin:0 0 5px 0;
}

p.result-words {
	background-color: #222930;
    -webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
    color: #FFFFFF;
    padding: 1.200em 0 1.200em 0.500em;
    margin: 0 0 0.600em 0;
}

dl.faq-2 dd {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 0.700em 0.500em;
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #C8DDED; }
a:hover { color: #189ED5;text-decoration:none; }

h3 a:hover {text-decoration:none;}

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #C8DDED;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #189ED5;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #2792BF;
}

/* Post body links */
.postlink {
	color: #64B5E4;
}

.postlink:visited {
    border-bottom: 1px solid transparent;
    border-bottom-color: #8dcff4;
	color: #8dcff4;
}

.postlink:hover {
     border-bottom: 1px solid transparent;
     border-bottom-color: #aae1ff;
	color: #aae1ff;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
.top i {
	color: #999999;
}

/* Arrow links  */
.arrow-left:hover, .arrow-right:hover {
	color: #189ED5;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
.navbar, .day-time, .navcrumbs, .logg_out, .daytimer2, .nav-quick-links, .search-headertop, .search-headertop2, .nav-bar-footer, .site-description {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
}

.headerspace {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding-bottom: 10px;
}

.pagination-top {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
}

.action-bar {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
}

.actions-jump {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 10px 5px 10px 5px;
}

.mark-read-index {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
}

.bg-form-agree {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 5px 0;
	margin: 0 0 0.600em 0;
}

.panel {
	background-color: #4e616f;
	color: #ffffff;
}

fieldset.send-email {
	background: inherit !important;
	margin:0 !important;
	padding: 0 !important;
	border: 0 !important;
}

.panel dt {
	color: #dcefff;
}

.panel dt span {
	color: #ffffff;
}

.panel h2 {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 12px;
}

.panel h3 {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	color: #C8DDED;
	padding: 10px 0 10px 5px;
	margin-bottom: 1px;
}

#mcp_report {
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: center;
}

#search_memberlist p {color:#FFFFFF;}

table.table1 thead th.search-recent {
	background-color: #20252A;
	padding: 15px 0 15px 5px;
}

.forabg {
	-webkit-box-shadow: 0px 0px 2px 1px rgb(95, 115, 134);
	-moz-box-shadow: 0px 0px 2px 1px rgb(95, 115, 134);
	box-shadow: 0px 0px 2px 1px rgb(95, 115, 134);
}

.forumbg {
	-webkit-box-shadow: 0px 0px 2px 1px rgb(95, 115, 134);
	-moz-box-shadow: 0px 0px 2px 1px rgb(95, 115, 134);
	box-shadow: 0px 0px 2px 1px rgb(95, 115, 134);
}


#poll-panel p, #poll-panel label, .forum-selection label, .left-box label {
	color: #FFFFFF;
}

#preview h2 {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	color: #C8DDED;
	padding: 10px 0 10px 5px;
}

.postbody h3 {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	color: #C8DDED;
	padding: 6px 5px 6px 5px;
	line-height: 2.5;
}

.bg-preview {
	background-color: #1E2830 !important;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	margin-top: 0.600em;
}

.post-review ul.post-buttons {
	margin-top: 1px;
	margin-right: 3px;
	padding: 3px 1px 3px 3px;
	line-height: 1.0;
}

.post-review ul.post-buttons > li {
	margin: 0 1px 0 2px;
}

#postbuttons {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 10px 5px 10px 5px;
}

.bg-button, dl.buttonreg, p.bg-button, dl.resend {
	background-color: #1c2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 10px 20px 10px 5px;
}

ul.post-buttons {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 3px 1px 3px 5px;

}

dd.recipients {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 10px 0 10px 5px;
}

ul.post-buttons li > label {
	color: #ffffff;
}

.format-buttons {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 10px 0 10px 5px;
	width: 79.800%;
}

.online-list p, .birthday-list p, .statistics p, p.bg_viewonline {
	background-color: #4e616f;
	padding: 10px 5px 10px 5px;
	margin: 0;
}


p.attach {
	color: #FFFFFF !important;
}

.panel p {
	color: #FFFFFF;
}

.panel p strong {
	color: #171b20;
}

.display-options label {
	color: #ffffff;
}

.post:target .content {
	color: #ffffff;
}

.post:target h3 a {
	color: #ffffff;
	text-decoration: none;
}

.post:target h3 a:hover {
	color: #189ED5;
	text-decoration: underline;
}

.bg1 {
	background-color: #4e616f;
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #829cae;
}

.bg2 {
	background-color: #4e616f;
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #829cae;
}

.bg3 {
	background-color: #4e616f;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(101,118,135,1);
	-moz-box-shadow: 0px 0px 2px 0px rgba(101,118,135,1);
	box-shadow: 0px 0px 2px 0px rgba(101,118,135,1);
}

.bg-ucp-panel {
	background-color: #1C2329;
	-webkit-box-shadow: inherit !important;
	-moz-box-shadow: inherit !important;
	box-shadow: inherit !important;
	border-right: 1px solid #3b4b5a !important;
	border-left: 1px solid #3b4b5a !important;
	border-bottom: 1px solid #3b4b5a !important;
	border-top: 0 !important;
}

.bg-mcp-panel {
	background-color: #1C2329;
	-webkit-box-shadow: inherit !important;
	-moz-box-shadow: inherit !important;
	box-shadow: inherit !important;
	border-right: 1px solid #3b4b5a !important;
	border-left: 1px solid #3b4b5a !important;
	border-bottom: 1px solid #3b4b5a !important;
	border-top: 0 !important;
}

.panel.bg5 {background-color:inherit;margin-bottom: 4px;}

.bg-panel-register {
	background-color:inherit;
	-webkit-box-shadow: inherit !important;
	-moz-box-shadow: inherit !important;
	box-shadow: inherit !important;
	padding:0;
}

.panelbg4 {
	background: #1C2329;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(101,118,135,1) !important;
	-moz-box-shadow: 0px 1px 4px 0px rgba(101,118,135,1) !important;
	box-shadow: 0px 1px 4px 0px rgba(101,118,135,1) !important;
}

ul.cplist li.row {
	background-color: #3d505f;
	border-right: 1px solid transparent;
	border-left:1px solid transparent;
	border-right-color: #717f8d;
	border-left-color: #717f8d;
}

ul.cplist li.row:hover {
	background-color: #4b606f;
}

.fieldsbg {
	background-color: #E7E8EA;
}

.site-description h1 {
	color: #eff4f7;
}

/* Table styles
----------------------------------------*/
table.table1 tbody {
	border: 1px solid transparent;
	border-right-color: #717f8d;
	border-left-color: #717f8d;
}
table.table1 thead th {
	background-color: #1C2329;
	color: #FFFFFF;
	border: 1px solid transparent;
	border-bottom-width: 0;
}

table.table1 thead tr {
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #4e5e6b;
}

table.table-mcp-front tbody tr:hover, table.table-mcp-front tbody tr.hover {
	background-color: #596f7f;
}

table.table1 tbody th {
	border-bottom-color: #2B3238;
	color: #2B3238;
}

table.table1 tbody td {
	border-left-color: #343c44;
	border-right-color: #8998a5;
	border-bottom-color: #343c44;
	border-top-color: #97a8b6;
}

table.info tbody th {
	color: #2B3238;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #0d1012;
}

dl.details dd {
	color: #e6f4fe;
}

.sep {
	color: #1198D9;
}

p.linkmcp {
    background-color: #4e616f;
	border: 1px solid transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-top-color: #98a8b5;
	border-bottom-color: #354149;
	margin-bottom: 5px;
	padding: 10px 0 10px 5px;
}

p.mod {
    background-color: #4e616f;
    padding:10px 0 10px 0;
    border:1px solid transparent;
    border-top-color: #1f2429;
    border-bottom-color: #354149;
    border-left-color: #657687;
    border-right-color: #657687;
    margin-bottom: 5px;
}

p.advanced-search-link {
	background-color: #4e616f;
    padding:10px 0 10px 0;
    border:1px solid transparent;
    border-top-color: #98a8b5;
    border-bottom-color: #354149;
    margin-bottom: 5px;
}

/* Icon styles
---------------------------------------- */
.icon.icon-blue, a:hover .icon.icon-blue {
	color: #189ED5;
}

.icon.icon-green, a:hover .icon.icon-green {
	color: #1b9A1B;
}

.icon.icon-red, a:hover .icon.icon-red {
	color: #ef3737;
}

.icon.icon-orange, a:hover .icon.icon-orange {
	color: #FF6600;
}

.icon.icon-bluegray, a:hover .icon.icon-bluegray {
	color: #536482;
}

.icon.icon-gray, a:hover .icon.icon-gray {
	color: #a7bcce;
}

.icon.icon-lightgray, a:hover .icon.icon-lightgray {
	color: #b8c7d3;
}

.icon.icon-black, a:hover .icon.icon-black {

}

i.fa-check-circle {color: #d7e6f2;}

.alert_close .icon:before {
	background-color: #1a2833;
}

/* Jumpbox */
.jumpbox .dropdown li {
	border-top-color: #505e6b;
}

.jumpbox-cat-link {
	background-color: #191f24;
	border-left:1px solid transparent;
	color: #31BDF6;
}

.jumpbox-cat-link:hover {
	
}

.jumpbox-forum-link {
	background-color: #191f24;
    color: #189ED5;
}

.jumpbox-forum-link:hover {
	color: #FFFFFF;
}

.jumpbox .dropdown .pointer-inner {
	border-color: #252e36 transparent;
}

.jumpbox-sub-link {
	background-color: #252E36;
}

.jumpbox-sub-link:hover {
	background-color: #2f3a44;
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	color: #FFFFFF;
	margin-top: 0.700em;
}

.copyright {
	color: #9fc1dd;
}

.logofooter {
	display: inline-block;
}

.error {
	color: #B10B0B;
}

.reported {
	background-color: #2a7ea5;
}

ul.topics li.reported {
	background-color: #2b3c4c;
}

ul.topics li.reported:hover {
	background-color: #3a4b5c;
}

.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #ef3737;
	border: 1px solid #ffa3a3;
	color: #FFFFFF;
}

p.post-notice {
	background-color: #94acbf;
	background-image: none;
}

p.post-notice strong {
	color: #bf0d0d;
}

.attach-panel-multi {
    background-color: #20252a;
    padding: 1.000em 0 1.000em 0.600em;
    -webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
}

/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */
dl.row-item dt .list-inner {
	color: #C8DDED;
}

ul.forums {
	background-color: #4e616f;
}

ul.topiclist li {
	color: #eef7ff;
}

ul.topiclist dd {
	border-left-color: #1e2429;
}

.rtl ul.topiclist dd {
	border-right-color: #404c54;
	border-left-color: transparent;
}

li.row {
	border-top-color:  #758ba1;
	border-bottom-color: #242c32;
}

.notification_list p.notifications_title strong {
	color: #FFFFFF;
}

li.row strong {
	color: #141e21;
}

li.row:hover {
	background-color: #5a7080;
}

li.row:hover dd {
	border-left-color: #768e9f;
}

.rtl li.row:hover dd {
	border-right-color: #a2bdd3;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #FFFFFF;
}

.permissions p {
    background-color: #4e616f;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-top-color: #98a8b5;
    border-bottom-color: #354149;
    margin: 1px 0 5px 0;
    padding: 3px 0 5px 5px;
  }

ul.topiclist li.header {
	background-color: #1C2329;
	padding: 8px 0;
}

ul.topiclist li.index-forum {
	background-color: #1C2329;
	padding: 10px 0;
}

ul.topiclist li.header dd, ul.topiclist li.header dt {
	color: #eef7ff !important;
}

fieldset.display-options {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 10px 5px 10px 5px;
	margin-top: 10px;
}

/* Contact US
----------------------------------------*/
dd textarea#message {background-color: #272d33;border:1px solid #1c2226;}


/* Post body styles
----------------------------------------*/
.postbody {
	color: #181d23;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #FFFFFF;
}

.content h2, .panel h2 {
	color: #C8DDED;
}

.posthilit {
	background-color: #222F39;
	color: #C8DDED;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #374149;
}

/* Post noticies */
.notice {
	border-top-color:  #a7bed3;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #252e35;
	border-color: #687d8d;
	color: #ffffff;
}

blockquote blockquote {
	/* Nested quotes */
	background-color: #1e252a;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #191f23;
}

/* Code block */
.codebox {
	background-color: #9bb1c2;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
}

.codebox p {
	color: #1c2126;
	border-bottom-color: #4f626f;
}

.codebox code {
	color: #233c4f;
}

.codebox a {
	color: #2b3238;
	text-decoration: none;
}

.codebox a:hover {
	color: #189ED5;
	text-decoration: underline;
}

.smiley-box {
	color: #ffffff;
}

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #2b3238;
	border-color:  #a3bacc;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #a3bacc;
}

.attachbox dt {
	color: #a3bacc;
}

.attachbox p {
	color: #cccccc;
}

.attachbox p.stats {
	color: #7F7F7F;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #a3bacc;
}

dl.thumbnail img {
	border-color: #202428;
	background-color: #FFFFFF;
}

dl.thumbnail dd {
	color: #202428;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #374149;
	color: #ffffff;
}

fieldset.polls dl.voted {
	color: #ffffff;
}

fieldset.polls dd div {
	color: #FFFFFF;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #189DD4;
	border-bottom-color: #404c54;
	border-right-color: #404c54;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #189DD4;
	border-bottom-color: #404c54;
	border-right-color: #404c54;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #189DD4;
	border-bottom-color: #404c54;
	border-right-color: #404c54;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #189DD4;
	border-bottom-color: #404c54;
	border-right-color: #404c54;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #189DD4;
	border-bottom-color: #404c54;
	border-right-color: #404c54;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #FFFFFF;
	border-color: #374149;
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong {
	color: #11151a;
}

.online {
	background-image: url("./en/icon_user_online.gif");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	background: rgb(43,54,63); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(43,54,63) 0%, rgb(28,35,41) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(43,54,63) 0%,rgb(28,35,41) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(43,54,63) 0%,rgb(28,35,41) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b363f', endColorstr='#1c2329',GradientType=0 ); /* IE6-9 */
	color: #b1c7d8;
	border-bottom-color: #13171a;
	border-left-color: #3c4750;
	border-right-color: #3c4750;
	border-top-color: #728594;
}

.button:hover,
.button:focus {
	background: rgb(28,35,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(28,35,41) 0%, rgb(43,54,63) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2329', endColorstr='#2b363f',GradientType=0 ); /* IE6-9 */
	border-bottom-color: #5e7d8a;
	border-left-color: #1c2126;
	border-right-color: #1c2126;
	border-top-color: #131618;
	color: #189ED5;
}


.button .icon,
.button-secondary {
	color: #b1c7d8;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
	color: #0A8ED0;
}

fieldset.display-actions {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 10px 5px 10px 5px;
	margin-top: 10px;
}

.ucp-attach, .mark-ucp-notifs, .fielset-ucp-notif, .fieldset-ucp-draft,
.fieldset-mcp-forum {
	margin-left: 0.500%;
}

.submit-ucp-profile, .ucp-reg-detail, .ucp-signature, .ucp-pref-perso, 
.ucp-pref-post, .ucp-pref-view, .ucp-zebra, .ucp-foe, .fieldset-mcp-front, 
.actions-jump, .fieldset-mcp-queue, .fieldset-mcp-report, 
.fieldset-warn-user, .fieldset-warn-posts, .fieldset-warn-front, .fielset-mcp-notes, 
.fieldset-mcp-logs, .fieldset-mcp-ban {
	margin-left: 0.500% !important;
}

.mark-all {
	text-align: right;
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 1.000em 0.600em 1.000em 0.600em;
	margin-top: 0.500em;
	margin-bottom: 0.500em;
}

.caret	{ border-color: #73818F; }

.contact-icons a		{ border-color: #DCDCDC; }
.contact-icons a:hover	{ background-color: #2d363e; }

a.jump-post {
	background: #202428;
	color: #C8DDED;
    box-shadow: 0px 0px 2px 0px #b8cde3;
    margin:0;
    padding:4px 4px;
}

a.jump-post:hover {
	border-color: transparent;
	background-color: #242a2f;
	color: #189ED5;
}

.bg-fieldset-ucp {
	background-color: #1C2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 10px 5px 10px 5px;
	margin-left: 0.600%;
}

/* Pagination
---------------------------------------- */

.pagination li a {
	background: #202327;
	filter: none;
	border:1px solid #38434a;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: #FFFFFF;
}

.pagination li.ellipsis span {
	background: transparent;
	color:	#202327;
}

.pagination li.active span {
	background: #189ED5;
	border-color: #189ED5;
	color: #FFFFFF;
}

.pagination li a:hover, .pagination li a:hover .icon, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	background: #189ED5;
	border-color: #189ED5;
	filter: none;
	color: #FFFFFF;
	text-shadow: none;
}

/* Search box
--------------------------------------------- */
.search-box .inputbox {
	background-color: #1A1F24;
	border-color: #13171a;
}

.search-box .inputbox:hover,
.search-box .inputbox:focus {
	border-color: #3d4751 !important;
}

/* Icon images
---------------------------------------- */

.contact-icon						{ background-image: url("./images/icons_contact.png"); }

/* Profile & navigation icons */
.pm-icon							{ background-position: 0 0; }
.email-icon							{ background-position: -21px 0; }
.jabber-icon						{ background-position: -80px 0; }
.phpbb_icq-icon						{ background-position: -61px 0 ; }
.phpbb_wlm-icon						{ background-position: -182px 0; }
.phpbb_aol-icon						{ background-position: -244px 0; }
.phpbb_website-icon					{ background-position: -40px 0; }
.phpbb_youtube-icon					{ background-position: -98px 0; }
.phpbb_facebook-icon				{ background-position: -119px 0; }
.phpbb_googleplus-icon				{ background-position: -140px 0; }
.phpbb_skype-icon					{ background-position: -161px 0; }
.phpbb_twitter-icon					{ background-position: -203px 0; }
.phpbb_yahoo-icon					{ background-position: -224px 0; }

/* Forum icons & Topic icons */
.global_read						{ background-image: url("./images/announce_read.gif"); }
.global_read_mine					{ background-image: url("./images/announce_read_mine.gif"); }
.global_read_locked					{ background-image: url("./images/announce_read_locked.gif"); }
.global_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.gif"); }
.global_unread						{ background-image: url("./images/announce_unread.gif"); }
.global_unread_mine					{ background-image: url("./images/announce_unread_mine.gif"); }
.global_unread_locked				{ background-image: url("./images/announce_unread_locked.gif"); }
.global_unread_locked_mine			{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.announce_read						{ background-image: url("./images/announce_read.gif"); }
.announce_read_mine					{ background-image: url("./images/announce_read_mine.gif"); }
.announce_read_locked				{ background-image: url("./images/announce_read_locked.gif"); }
.announce_read_locked_mine			{ background-image: url("./images/announce_read_locked_mine.gif"); }
.announce_unread					{ background-image: url("./images/announce_unread.gif"); }
.announce_unread_mine				{ background-image: url("./images/announce_unread_mine.gif"); }
.announce_unread_locked				{ background-image: url("./images/announce_unread_locked.gif"); }
.announce_unread_locked_mine		{ background-image: url("./images/announce_unread_locked_mine.gif"); }

.forum_link							{ background-image: url("./images/forum_link.gif"); }
.forum_read							{ background-image: url("./images/forum_read.gif"); }
.forum_read_locked					{ background-image: url("./images/forum_read_locked.gif"); }
.forum_read_subforum				{ background-image: url("./images/forum_read_subforum.gif"); }
.forum_unread						{ background-image: url("./images/forum_unread.gif"); }
.forum_unread_locked				{ background-image: url("./images/forum_unread_locked.gif"); }
.forum_unread_subforum				{ background-image: url("./images/forum_unread_subforum.gif"); }

.sticky_read						{ background-image: url("./images/sticky_read.gif"); }
.sticky_read_mine					{ background-image: url("./images/sticky_read_mine.gif"); }
.sticky_read_locked					{ background-image: url("./images/sticky_read_locked.gif"); }
.sticky_read_locked_mine			{ background-image: url("./images/sticky_read_locked_mine.gif"); }
.sticky_unread						{ background-image: url("./images/sticky_unread.gif"); }
.sticky_unread_mine					{ background-image: url("./images/sticky_unread_mine.gif"); }
.sticky_unread_locked				{ background-image: url("./images/sticky_unread_locked.gif"); }
.sticky_unread_locked_mine			{ background-image: url("./images/sticky_unread_locked_mine.gif"); }

.topic_moved						{ background-image: url("./images/topic_moved.gif"); }
.pm_read,
.topic_read							{ background-image: url("./images/topic_read.gif"); }
.topic_read_mine					{ background-image: url("./images/topic_read_mine.gif"); }
.topic_read_hot						{ background-image: url("./images/topic_read_hot.gif"); }
.topic_read_hot_mine				{ background-image: url("./images/topic_read_hot_mine.gif"); }
.topic_read_locked					{ background-image: url("./images/topic_read_locked.gif"); }
.topic_read_locked_mine				{ background-image: url("./images/topic_read_locked_mine.gif"); }
.pm_unread,
.topic_unread						{ background-image: url("./images/topic_unread.gif"); }
.topic_unread_mine					{ background-image: url("./images/topic_unread_mine.gif"); }
.topic_unread_hot					{ background-image: url("./images/topic_unread_hot.gif"); }
.topic_unread_hot_mine				{ background-image: url("./images/topic_unread_hot_mine.gif"); }
.topic_unread_locked				{ background-image: url("./images/topic_unread_locked.gif"); }
.topic_unread_locked_mine			{ background-image: url("./images/topic_unread_locked_mine.gif"); }


/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container hr, .cp-menu hr {
	border-color: #586675;
}

.panel-container .panel li.row {
	border-bottom-color: #343d47;
	border-top-color: #8495a5;
}

li.row {
	background-color: #4e616f;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #2B3238;
}

.cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #FFFFFF;
}

p.error {color: #9C0000;}

/* CP tabbed menu
----------------------------------------*/
.tabs .tab > a {
	background: rgb(43,54,63); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(43,54,63) 0%, rgb(28,35,41) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(43,54,63) 0%,rgb(28,35,41) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(43,54,63) 0%,rgb(28,35,41) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b363f', endColorstr='#1c2329',GradientType=0 ); /* IE6-9 */
	color: #b1c7d8;
	border:1px solid transparent;
	border-bottom-color: #13171a;
	border-left-color: #3c4750;
	border-right-color: #3c4750;
	border-top-color: #728594;
}

.tabs .tab > a:hover {
	background: rgb(28,35,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(28,35,41) 0%, rgb(43,54,63) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2329', endColorstr='#2b363f',GradientType=0 ); /* IE6-9 */
	border:1px solid transparent;
	border-bottom-color: #5e7d8a;
	border-left-color: #1c2126;
	border-right-color: #1c2126;
	border-top-color: #131618;
	color: #189ED5;

}

.tabs .activetab > a,
.tabs .activetab > a:hover {
    background: rgb(28,35,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(28,35,41) 0%, rgb(43,54,63) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2329', endColorstr='#2b363f',GradientType=0 ); /* IE6-9 */
	border:1px solid transparent;
	border-bottom-color: #5e7d8a;
	border-left-color: #1c2126;
	border-right-color: #1c2126;
	border-top: 0;
	box-shadow: 0 1px 1px #26a1f3 inset;
	color: #189ED5;
}

.tabs .activetab > a:hover {
	box-shadow: 0 1px 1px #63BBDE inset;
	color: #63BBDE;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
.minitabs .activetab > a,
.minitabs .tab > a {
	background: rgb(43,54,63); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(43,54,63) 0%, rgb(28,35,41) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(43,54,63) 0%,rgb(28,35,41) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(43,54,63) 0%,rgb(28,35,41) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b363f', endColorstr='#1c2329',GradientType=0 ); /* IE6-9 */
	color: #b1c7d8;
	border:1px solid transparent;
	border-bottom-color: #13171a;
	border-left-color: #3c4750;
	border-right-color: #3c4750;
	border-top-color: #728594;
}


.minitabs .tab > a:hover {
	background: rgb(28,35,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(28,35,41) 0%, rgb(43,54,63) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2329', endColorstr='#2b363f',GradientType=0 ); /* IE6-9 */
	border:1px solid transparent;
	border-bottom-color: #5e7d8a;
	border-left-color: #1c2126;
	border-right-color: #1c2126;
	border-top: 0;
	box-shadow: 0 1px 1px #26a1f3 inset;
	color: #189ED5;
}

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
	background: rgb(28,35,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(28,35,41) 0%, rgb(43,54,63) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2329', endColorstr='#2b363f',GradientType=0 ); /* IE6-9 */
	border:1px solid transparent;
	border-bottom-color: #5e7d8a;
	border-left-color: #1c2126;
	border-right-color: #1c2126;
	border-top: 0;
	box-shadow: 0 1px 1px #26a1f3 inset;
	color: #189ED5;
}

.minitabs .activetab > a:hover {
	box-shadow: 0 1px 1px #63BBDE inset;
	color: #63BBDE;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #b1c7d8;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #189ED5;
}

/* UCP navigation menu
----------------------------------------*/

/* Link styles for the sub-section links */
.navigation a {
	margin-bottom :0.200em;
}

.navigation a {
	background: rgb(43,54,63); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(43,54,63) 0%, rgb(28,35,41) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(43,54,63) 0%,rgb(28,35,41) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(43,54,63) 0%,rgb(28,35,41) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b363f', endColorstr='#1c2329',GradientType=0 ); /* IE6-9 */
	color: #b1c7d8;
	border:1px solid transparent;
	border-bottom-color: #13171a;
	border-left-color: #3c4750;
	border-right: 0;
	border-top-color: #728594;
}

.rtl .navigation a {
	background: #2B3238;
}

.navigation a:hover {
	color: #ffffff;
	border-color: transparent;
}

.navigation .active-subsection a {
	background: rgb(28,35,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(28,35,41) 0%, rgb(43,54,63) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2329', endColorstr='#2b363f',GradientType=0 ); /* IE6-9 */
	border:1px solid transparent;
	border-bottom-color: #111618;
	border-left: 0;
	border-right: 0;
	border-top-color: #151A1E;
	box-shadow: 1px 0px 0px #26a1f3 inset;
	color: #189ED5;
}

.navigation .active-subsection a:hover {
	color: #A6E3FC;
}

/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #FFFFFF;
}

.panel {
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
}

.cp-main .pm {
	background-color: #4e616f;
}

/* Friends list */
.cp-mini {
	background-color: #181e24;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);

}

dl.mini dt {
	color: #d0ddea;
}

dl.faq dt strong {
	color: #ffffff;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #189ED5 !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #40484f;

}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}

/* Avatar gallery */
.gallery label {
	background-color: #262B2F;
    border-color: #A6C1D1;
}

.gallery label:hover {
	background-color: #2797d5;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #778d9f;
	background-color: #1C2329;
	color: #95afc3;
}

label {
	color: #dcefff;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
fieldset.fields1 {
	background-color: transparent;
}

.fields1 label {
	color: #E3F0F9;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #272d33;
}

/* Posting page styles
----------------------------------------*/
.message-box textarea.drag-n-drop {
	outline-color: rgba(102, 102, 102, 0.5);
}

.message-box textarea.drag-n-drop-highlight {
	outline-color: rgba(17, 163, 234, 0.5);
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #1C2329;
	border-color: #798895;
	color: #a7bbc9;
}

.inputbox:-moz-placeholder {
	color: #95afc3;
}

.inputbox::-webkit-input-placeholder {
	color: #95afc3;
}

.inputbox:hover {
	border-color: #8aa0b1;
}

.inputbox:focus {
	border-color: #768998;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */
a.button1, a.button2, input.button1, input.button2, input.button3 {
	background: rgb(43,54,63); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(43,54,63) 0%, rgb(28,35,41) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(43,54,63) 0%,rgb(28,35,41) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(43,54,63) 0%,rgb(28,35,41) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b363f', endColorstr='#1c2329',GradientType=0 ); /* IE6-9 */
	color: #b1c7d8;
	border-bottom-color: #13171a;
	border-left-color: #3c4750;
	border-right-color: #3c4750;
	border-top-color: #728594;
}

input.button3 {
	background-image: none;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	background: rgb(28,35,41); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(28,35,41) 0%, rgb(43,54,63) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(28,35,41) 0%,rgb(43,54,63) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c2329', endColorstr='#2b363f',GradientType=0 ); /* IE6-9 */
	border-bottom-color: #5e7d8a;
	border-left-color: #1c2126;
	border-right-color: #1c2126;
	border-top-color: #131618;
	color: #189ED5;
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #1d2226;
	color: #189ED5;
}

input.disabled {
	color: #666666;
}

fieldset.submit-buttons {
	background: #1c2329;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	padding: 10px 5px 10px 5px;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #20282f;
	border: 1px solid #374149;
	-webkit-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	-moz-box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
	box-shadow: 0px 0px 2px 0px rgb(175, 203, 231);
}

.phpbb_alert label{
	color: #FFFFFF;
}

.phpbb_alert p {
	color: #ef3737;
}

.alert_text h3 {
	color: #ffffff;
}

.darken {
	background-color: #20252A;
}

.loading_indicator {
	background-color: #677784;
	background-image: url("./images/loading.gif");
}

.bg-notification {
	background-color: #252e36;
}

.dropdown-extended ul li {
	border-top-color: #667584;
}

.dropdown-extended ul li:hover {
	background-color: #2f3a44;
	color: #21262b;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #667584;
	color: #FFFFFF;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background-color: #252e36;
}

.dropdown .pointer {
	border-color: #405262 transparent;
}

.dropdownlogin .pointer {
	border-color: #405262 transparent;
}

.dropdown .pointer-inner {
	border-color: #252e36 transparent;
}

.dropdownlogin .pointer-inner {
	border-color: #252e36 transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #252e36 transparent;
}

.dropdown .dropdown-contents {
	background-color: #252e36;
	border: 1px solid #798897;
	-webkit-box-shadow: 0px 0px 3px 0px rgb(146, 192, 222);
	-moz-box-shadow: 0px 0px 3px 0px rgb(146, 192, 222);
	box-shadow: 0px 0px 3px 0px rgb(146, 192, 222);
}

.dropdownlogin .dropdown-contents {
	background-color: #252e36;
	border: 1px solid #798897;
	-webkit-box-shadow: 0px 0px 3px 0px rgb(146, 192, 222);
	-moz-box-shadow: 0px 0px 3px 0px rgb(146, 192, 222);
	box-shadow: 0px 0px 3px 0px rgb(146, 192, 222);
}

.dropdown-up .dropdown-contents {
	box-shadow: 0px 0px 3px 1px rgba(121,136,151,1);
}

.dropdownlogin-up .dropdown-contents {
	box-shadow: 0px 0px 3px 1px rgba(121,136,151,1);
}

.dropdown li, .dropdown li li {
	border-color: #7F91A2;
}

.dropdownlogin li, .dropdownlogin li li {
	border-color: #7F91A2;
}

.dropdown li.separator {
	border-color: #7F91A2;
}

.dropdownlogin li.separator {
	border-color: #7F91A2;
}

/* Notifications
---------------------------------------- */
form > p.post-notice strong {
	color: #ffffff;
}

.notification_list p.notification-time {
	color: #FFFFFF;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #35CDFF;
}

.badge {
	background-color: #189FD6;
	color: #ffffff;
}
